.products-listing{
  display:flex;
  flex:2;
  flex-wrap:wrap;
  flex-direction:row;
  
}

.product-list-item{
  width:200px;
  height:auto
}

.product-des{
  height:200px
}

.product-pri{
  height:500px
}